.Header{
    background-color:black;
    color: white
}
.Header-create{
    background-color: black;
    color: white
}
.img{
    height: 80px;
    width: 140px;
}
.Text{
    font-size: 24px;
    width: 80%;
}
.Text-2{
    font-size: 24px
}
.img-2{
    height: 120px;
    width: 240px;
}
.Text-3{
    font-size: 42px
}
@media only screen and (max-width:768px){
    h1{
        font-size: 16px;
    }
    p{
        font-size: 10px;
    }
    a{
        font: size 12px;
    }
    
}